extends layout

block content
  .container.mt-5
    h1 Search Jobs and Courses
    // Search form using GET method
    form(action='/search-jobs', method='get')
      .form-group
        label(for='what') Job or Course Keyword
        input.form-control(type='text', name='what', placeholder='Enter keyword')
      .form-group
        label(for='where') Location
        input.form-control(type='text', name='where', placeholder='Enter location')
      button.btn.btn-primary(type='submit') Search
